fastapi==0.114.2
uvicorn==0.30.6
pandas==2.2.2
scikit-learn==1.5.2
fastparquet==2024.5.0
pyarrow==17.0.0
pydantic==2.9.1
python-dateutil==2.9.0.post0
numpy==2.1.1
starlette==0.38.5
fsspec==2024.9.0
cramjam==2.8.3
packaging==24.1
joblib==1.4.2
threadpoolctl==3.5.0